<div class="padding-global-2"><div class="container-large-2"><div class="header_hero-content"><div class="padding-section-large"><div class="max-width-medium"><div class="margin-bottom margin-small"><h1 li-settings="Title" class="heading-style-h1 text-align-center">
</h1>
</div><div class="margin-top margin-medium flex-center"><div class="button-group-3"><a class="button w-button" href="{{ section.settings.url_button_link }}"> Button </a>
</div></div></div></div></div></div></div><div class="header_background-video-wrapper"><div class="video-overlay-layer"></div><div li-settings="video" class="w-embed-youtubevideo header_background-video">
</div>
</div> {% schema %} {"tag":"header","name":"video","class":"section_header-hero-video text-color-alternate","settings":[{"id":"url_button_link","type":"url","label":"Button Link"}],"presets":[{"name":"video","category":"Liquify"}]} {% endschema %}